/* font thing
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Space Mono', monospace;
    
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

*/
html, body{
  font-family: "Maven Pro",sans-serif;
  color: #533D4B;
}

a{color:#856169;text-decoration: none;}
a:hover{color:#533D45;}

blockquote{
  /* background: #b7dcf3;
  border: 2px solid #2c2c2c;
  padding: 10px;
  color: #2c2c2c;
  box-shadow: 3px 2px 0px #2c2c2c; */
}
.head-thing{
  text-align: center;
  font-family:'Space Mono',monospace;
  font-style: italic;
}
.about{
  /* width: 100%; */
  margin: auto;
  /* text-align: justify; */
  /* background-color: #facade; */
  /* border-radius: 5px; */
  /* background-image:  */
  /* url('https://www.toptal.com/designers/subtlepatterns/patterns/hip-square.png'); */
}
.box-about{
  width:32%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  background-color: #FFD845;
/* background-image: linear-gradient(90deg, #ffd2b6 0%, #F8F3E0 100%); */
  color: #444;
  border-radius: 5px;
  padding: 0.8em;
  border: 1px solid #FFD845;
}
.box-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.8em;
  padding: 0;
  border-radius: 5px;
  width: 30%;
}
.box-arrow{
  /* content: ""; */
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent #FFD845;
  line-height: 0px;
  border-color: transparent transparent #FFD845 transparent;
}
.box-content{
  margin-right: auto;
  margin-left: auto;
  width: 45%;
  text-align: center;
  /* margin: 10px 0; */
}
.box-links{
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  text-align: center;
}
.box-links a{
  padding: 0.3em;
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #eb9375;
}
.divider{
  margin-top: 1em;
  margin-bottom: 1em;
  width: 100%;
  border-bottom: 1px solid #D9D8D4;
}
.stuff{
  border-radius: 5px;
  background-color: #F5F4F0;
  padding: 0.8em;
  width: 90%;

  margin-right: auto;
  margin-left: auto;
}
/* .stuff p{text-align: justify;} */
.skills{
  /* margin: auto; 
  padding: 0.1em; */
}
  .skill-bar{
    background-color: #fafafa;
    border-radius: 5px;
    /* border-bottom: 1px solid #FFC897; */
  }
  .skill-content{
    height: 5px;
    /* background: #A8CABA;
    background: linear-gradient(62deg, #A8CABA 0%, #ffc897 100%); */
    background-image: linear-gradient(62deg, #ed997f 0%, #ffc897 100%);
    background-color: #ed997f;
    border-radius: 5px;
  }
.project{
  /* display: flex; */
  /* width: 100%; */
  /* background-color: #facade; */
  margin: auto;
  text-align: center;
}
.project-card{
  display: inline-block;
  width: 22%;
  border-radius: 5px;
  background-color: white;
  margin-left: 3px;
  margin-right: 3px;
}
#project-title i{height: 16px}
.project-img img{
  width: 100%;
    height: 140px;
    border-radius: 5px 5px 0px 0px;
}
.project-desc{
  /* background-color: #fafafa; */
  padding: 0.3em;
  text-align: center;}
.kofi{
  margin: auto;
  text-align: center;
}
footer,.footer-links{
  font-family: 'Space Mono', monospace;
  font-size: 10pt;
  padding-top: 0.5em;
  background: #FFC897;
  text-align: center;
}
/* .footer-links a{padding: 0.5em;} */
.footer-links a:hover{border-bottom: 1px solid #eb9375;}
#social-links{margin-right: 1em;padding: 0.5em;}
#social-links:hover{
  border-bottom: 0px solid transparent;
  background-color: #f5dbcc;
  background-image: linear-gradient(0deg, #f5dbcc 0%, #FFC897 100%);
  border-radius: 5px;
}
.footer-links a:hover{
  color:#856169;
}