/* CSS for Work, About and Contact sections */
/* --------------------- Work Section --------------------- */
.work {margin: 80px 0px 80px 0px;}
.work-text::first-letter{border-top: 7px solid var(--rose-moon-rose);}

.work label {
  margin-top: 16px;
  font-weight: 500;
}

#work-btn {
  margin-right: 12px;
  background-color: var(--rose-main-love);
  border: none;
  color: var(--rose-dawn-base);
  font-family: 'Space Mono', monospace;
  font-weight: 300;
  font-style: italic;
  text-transform: lowercase;
}

#programming, #frameworks, #art {margin: 12px;}

#skill-bar {background-color: var(--rose-dawn-base);}
#skill-progress {
  height: 7px;
  background-color: var(--rose-main-gold);
}

.dark-mode-w h3, .dark-mode-w h4,.dark-mode-w h5, .dark-mode-w p, .dark-mode-w label {color: var(--rose-moon-text) !important;}
.dark-mode-w .work-text::first-letter {border-color: var(--rose-moon-iris) !important;}
.dark-mode-w #skill-bar {background-color: var(--rose-moon-overlay);}
.dark-mode-w #skill-progress {background-color: var(--rose-moon-rose)!important; }
.dark-mode-w #work-btn {background-color: var(--rose-dawn-gold)!important; color: var(--rose-dawn-base) !important;}

/* --------------------- About Section --------------------- */
.about {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--rose-dawn-base);
}

.about-me{
  text-align: justify;
  margin: 60px 140px 20px 140px;
  padding: 40px;
}
.about-me-title::first-letter {border-top: 7px solid var(--rose-main-love);}
.about-me-title-dark::first-letter {border-top: 7px solid var(--rose-main-pine);}
.about-me-subtitle {padding-top: 40px;}

.about-pic {
  display: block;
  padding: 92px;
  gap: 32px;
  background-color: var(--rose-main-gold);
}
.dark-mode-a .about-me-title::first-letter {border-color: var(--rose-dawn-gold);}
.dark-mode-a {background-color: var(--rose-main-base) !important;}
.dark-mode-a h2, .dark-mode-a h3, .dark-mode-a p, .dark-mode-a b, .dark-mode-a i {color: var(--rose-moon-text) !important;}
.dark-mode-a .about-pic {background-color: var(--rose-moon-rose) !important;}

/* --------------------- Contact --------------------- */
#contact { padding-top: 40px; }
#contact-text::first-letter { border-top: 7px solid var(--rose-moon-pine); }
#contact-info, #contact-social {
  display: flex;
  align-items: center;
  margin: 12px;
}

.dark-mode-c h3, .dark-mode-c p {color: var(--rose-moon-text) !important;}
.dark-mode-c h3::first-letter {border-color: var(--rose-moon-foam) !important;}