/* ---------------------------------------------- General CSS */

/* Rose Pine Colors */
:root {

  /* Light Mode*/
  --rose-dawn-base: #faf4ed;
  --rose-dawn-text: #575279;
  --rose-dawn-gold: #ea9d34;
  --rose-main-gold: #f6c177;
  --rose-moon-pine: #3e8fb0;
  --rose-moon-rose: #ea9a97;
  --rose-main-rose: #ebbcba;
  --rose-dawn-rose: #d7827e;
  --rose-main-love: #eb6f92;
  --rose-dawn-love: #b4637a;
  --rose-moon-base: #232136;
  --rose-moon-text: #e0def4;
  --rose-main-base: #191724;


  /* Dark Mode */

}

* {
  font-family: 'Questrial', sans-serif;
  color: var(--rose-dawn-text);
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: italic;
  text-transform: lowercase;
  letter-spacing: 3px;
}

a {
  color: var(--rose-main-love);
}

/* ---------------------------------------------- Navigation  */
nav#navigation {
  background-color: var(--rose-dawn-base);
  /* border-bottom: 3px solid var(--rose-moon-rose); */
  padding: 10px;
}

nav a {
  color: var(--rose-main-love);
  text-align: center;
  display:inline-block;
  vertical-align:top;
}

#navigation img {
  width: 22px;
  margin-left: 15%;
  margin-right: 30%;
}

#navigation a {
  margin: 0px 20px 0px 20px;
}

/* ---------------------------------------------- Header */
#landing {
  padding-top: 10%;
  background-color: var(--rose-main-rose);
  /* background-color: #006778; */
  height: 600px;
  max-height: 40%;
}

#landing h2 {
  color: var(--rose-moon-base);
  width: 480px;
}

#landing h2::first-letter{
  border-top: 7px solid var(--rose-dawn-rose);
}

#landing h6 {
  color: var(--rose-moon-base);
}

#click {
  margin-right: 12px;
  background-color: #006778;
  border: none;
  color: var(--rose-dawn-base);
  font-family: 'Space Mono', monospace;
  font-weight: 300;
  text-transform: uppercase;
}

/* ---------------------------------------------- Work Section */
#work {
  margin: 80px 0px 80px 0px;
}

#work label {
  margin-top: 16px;
  /* text-transform: lowercase; */
  font-weight: 500;
  /* font-size: 14px; */
}

#project-card {
  padding: 7px;
  background-color: var(--rose-dawn-base);
  border: 1px solid var(--rose-main-rose);
  border-radius: 3px;
}
#project-card h6, #project-card p, #project-card i{
  color: var(--rose-moon-rose);
}

#project-title {
  background-color: yellow;
  display: flex;
  align-items: center;
}
#programming, #frameworks, #art {
  margin: 12px;
}

#skill-bar {
  background-color: var(--rose-dawn-base);
  /* border-radius: 3px; */
}

#skill-progress {
  height: 7px;
  /* border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; */
  background-color: var(--rose-main-gold);
}


/* ---------------------------------------------- About Section  */
#about {
  margin: auto;
  width: 100%;
  background-color: var(--rose-dawn-base);
}

#profile-text {
  padding-left: 20%;
  display: block;
  margin: auto;
  text-align: justify;
}

#profile-text h3 {
  padding-top: 40px;
}

#profile-text h2::first-letter {
  border-top: 7px solid var(--rose-main-love);
}


#profile-text p {
  width: 70%;
}

#profile-frame {
  margin: auto;
  background-color: var(--rose-main-gold);
  padding-top: 40px;
  padding-bottom: 40px;
  /* padding: 0px 0px 10px 0px; */
}
#profile-pic {
  display: block;
  margin: auto;
  border: 37px solid var(--rose-main-gold);
  width: 75%;
}

/* ---------------------------------------------- Contact */
#contact {
  padding-top: 40px;
}


#contact-info, #contact-social {
  display: flex;
  align-items: center;
  margin: 12px;
}

#contact-pic {
  background-color: var(--rose-main-gold);
  border: 32px solid var(--rose-main-gold);
}

footer {
  /* color: var(--rose-main-gold); */
  text-align: center;
  background-color: var(--rose-dawn-base);
  padding: 12px;
}
