/* Main CSS file */
/* Rose Pine Colors */
:root {

  /* Light Mode*/
  --rose-dawn-base: #faf4ed;
  --rose-dawn-overlay: #f2e9e1;
  --rose-dawn-text: #575279;
  --rose-dawn-rose: #d7827e;
  --rose-dawn-love: #b4637a;
  
  --rose-main-love: #eb6f92;  
  --rose-dawn-gold: #ea9d34;
  --rose-main-gold: #f6c177;
  --rose-main-rose: #ebbcba;
  
  
  /* Dark Mode */
  --rose-main-base:#191724;
  --rose-moon-base: #232136;
  --rose-moon-overlay: #393552;
  --rose-moon-pine: #3e8fb0;
  --rose-moon-foam: #9ccfd8;
  --rose-moon-iris: #c4a7e7;
  --rose-moon-text: #e0def4; 
  --rose-moon-rose: #ea9a97;
  
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Questrial', sans-serif;
  color: var(--rose-dawn-text);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--rose-dawn-overlay);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  font-style: italic;
  text-transform: lowercase;
  letter-spacing: 3px;
}
a { color: var(--rose-main-love); }


.dark-mode { background-color: var(--rose-moon-base) !important;}

/* ---------------------------------------------- Navigation  */
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 12px;
  background-color: var(--rose-dawn-base);
}
.header-logo {width: 42px;}
.header-nav {display: flex; gap: 32px;}
.header-nav-menu {
  display: none;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
}
.dark-mode-h {background-color: var(--rose-main-base) !important;}
.dark-mode-h a {color: var(--rose-moon-iris) !important;}

.landing {
  padding-top: 10%;
  background-color: var(--rose-main-rose);
  height: 600px;
  max-height: 40%;
}
.landing h2 {color: var(--rose-moon-base); width: 61%; }
.landing h2::first-letter{border-top: 7px solid var(--rose-main-love);}
.landing h6 {color: var(--rose-moon-base); }

#landing-btn {
  margin-right: 12px;
  background-color: #006778;
  border: none;
  color: var(--rose-dawn-base);
  font-family: 'Space Mono', monospace;
  font-weight: 300;
  text-transform: uppercase;
}

.dark-mode-l {background-color: var(--rose-moon-iris) !important;}
.dark-mode-l h2, .dark-mode-l h6 {color: var(--rose-moon-text) !important;}
.dark-mode-l h2::first-letter {border-color: var(--rose-dawn-gold) !important;}
.dark-mode-l #landing-btn {background-color: var(--rose-moon-overlay); color: var(--rose-moon-base);}

footer {text-align: center; background-color: var(--rose-dawn-base); padding: 12px;}
.dark-mode footer, .dark-mode footer i  { background-color: var(--rose-moon-overlay)!important; color: var(--rose-moon-text) !important;}