:root {
  font-family: 'Space Mono', monospace;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: #a59b44;
  background-color: #e9dfd3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #FF9BC9;
  text-decoration: inherit;
}
a:hover {
  color: #FF9BC9;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}